.header-navbar {
    box-shadow: 0 0 6px rgba(14, 14, 14, .26);
}

.header-navbar .nav li a:hover {
    background-color: transparent !important;
}

.header-navbar .nav li a {
    text-transform: capitalize;
}

img{
    max-width: 100%;
}