@import url("hint.css");
[class*="hint--"]::after {
    font-weight: 400;
    line-height: 1.5;
}

.header-navbar {
    box-shadow: 0 0 6px rgba(14, 14, 14, .26);
}

.header-navbar .nav li a:hover {
    background-color: transparent !important;
}

.header-navbar .nav li a {
    text-transform: capitalize;
}

img {
    max-width: 100%;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes pulse {
    0% {
        transform: scaleX(1)
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05)
    }
    to {
        transform: scaleX(1)
    }
}

.pulse {
    animation-name: pulse;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.fadeIn {
    animation-name: fadeIn;
}